/* Шрифты */

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.woff2') format('woff2'),
        url('../fonts/Circe-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Thin.woff2') format('woff2'),
        url('../fonts/Circe-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/Circe-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Обнуляшка*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}

/* Ограничение ширины контента. Знаю, что пока нельзя, но жить без этого не могу */

.container {
	max-width: 1280px;
	margin: 0 auto;
}

/* Шапка */

header {
	background-color: #794;
}
.homework {
	font-style: italic;
	text-align: center;
	padding: 20px;
	font-size: 28px;
}
.homework span {
	font-style: normal;
	padding: 0 0 0 5px;
}

/* Контентная часть */

main {
	color: #333;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	padding: 20px;
	letter-spacing: 0.8px;
	line-height: 1.4;
	font-size: 32px;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 32px;
	text-align: center;
	color: #990099;
}

img {
	max-width: 500px;
	max-height: 600px;
	margin: 20px 0 0 0;
	filter:  grayscale(1);
	transition: all 0.8s ease 0s;
}

img:hover {
	filter: grayscale(0);
}

p {
	margin: 20px 0 20px 0;
}

.title {
	font-size: 28px;
}
.title,
.block1 {
	font-family: 'Russo One', sans-serif;
	font-weight: 700;
}

.title p {
	text-align: center;
	font-size: 22px;
}

.title ~ div p {
	text-indent: 1%;
}

.block1 {
	font-size: 20px;
}

.block1 h2 + * {
	font-size: 30px;
}

.block2 {
	font-size: 24px;
	line-height: 120%;
	letter-spacing: normal;
	word-spacing: 10px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.block3 {
	font-size: 22px;
	letter-spacing: 2.1px;
	line-height: 150%;
	text-transform: capitalize;
}
.block3 ~ div {
	font-family: 'Circe';
}

.block4 p {
	font-size: 24px;
	line-height: 130%;
	text-decoration: underline;
}

.block5 p {
	font-size: 26px;
	line-height: 170%;
	text-decoration: overline;
	font-weight: 700;
}

.block6 p {
	font-size: 22px;
	line-height: 140%;
	text-decoration: line-through;
	font-weight: 300;
}

.block7 p {
	font-size: 28px;
	line-height: 110%;
	text-align: right;
	font-weight: 100;
}

.block8 {
	font-size: 26px;
	line-height: 130%;
	text-align: justify;
}

.block9 {
	font-size: 26px;
	line-height: 150%;
	text-shadow: 0px 0px 5px #000;
	text-transform: capitalize;
}

.block10 {
	font-size: 24px;
	text-shadow: 1px 1px 5px #ff00ff;
}

/* Подвал (т.е. цоколь!) */

footer {
	background-color: #778d;
	text-align: center;
	padding: 32px;
	font-size: 18px;
}

.freelancer {
	text-align: center;
	font-size: 18px;
	color: #fff;
}
